// --------------------- //
// Variables declaration //
// --------------------- //

// colors
$primary-color: #ffe000;
$secondary-color: #005fb0;
$background-color-dark: #1d1c20;
$background-color-light: #fafafa;

$black-87: rgba(#000,.87);
$black-54: rgba(#000,.54);
$black-38: rgba(#000,.38);
$black-26: rgba(#000,.26);
$black-12: rgba(#000,.12);

$white-100: rgba(#fff,100);
$white-70: rgba(#fff,.70);
$white-50: rgba(#fff,.50);
$white-30: rgba(#fff,.30);
$white-10: rgba(#fff,.10);