@import "./common/style/variables.scss";

.App {
  flex: 1 1 auto;
  flex-direction: column;
  background-color: $background-color-dark;
  overflow-y: hidden;

  &__header {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white-100;

    &__logo {
      animation: bounce .3s cubic-bezier(0.81, 0.06, 0.32, 0.91) 0s 4;
      height: 4vmin;
      pointer-events: none;
      margin: 1%;
    }

    &__title {
      color: #000;
      font-weight: 300;
      font-size: 2,8rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &__settings {
      padding: 2%;
    }

    &__bus {
      display: flex;
      flex-direction: column;
      padding: 2%;

      &__title {
        display: flex;
        color: $white-100;
        padding: 0 1%;
        margin-top: 2%;
        font-size: 1.1rem;
        text-transform: uppercase;
        .material-icons {
          margin-right: 1%;
      }
      }
      &__content {
        padding: 2% 0;
      }
    }
    
  }
}

@keyframes bounce {
  0% {transform:rotate(0deg);}
  25% {transform:rotate(-15deg);}
  75% {transform:rotate(15deg);}
  100% {transform:rotate(0deg);}
}

// Responsivity

@media screen and (min-width: 0em) and (max-width: 40em) {
  .App__header {
    min-height: 6vh;
  }
  .App__content {
    height: 94vh;
  }
}

@media screen and (min-width: 40em) and (max-width: 60em) {
  .App__header {
    min-height: 8vh;
  }
  .App__content {
    height: 92vh;
  }

  .App__content__bus__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Bus {
    flex: 0 1 calc(50% - 2em);
  }
}

@media screen and (min-width: 60em) and (max-width: 80em) {
  .App__header {
    min-height: 10vh;
  }
  .App__content {
    height: 90vh;
  }

  .App__content__bus__section {
    display: flex;
    flex-wrap: wrap;
  }
   
  .Bus {
    flex: 0 1 calc(33% - 2em);
  }
}

@media screen and (min-width: 80em) {
  .App__header {
    min-height: 10vh;
  }
  .App__content {
    height: 90vh;
  }

  .App__content__bus__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
   
  .Bus {
    flex: 0 1 calc(25% - 2em);
  }
}
